/* Bedirhan YILDIRIM reset.css */

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;500;700;900&display=swap');

body {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    /*transition: all 0.5s ease 0s;*/
    font: 15px/19px 'Roboto', sans-serif;
  }
  select, input, textarea {
    outline: none;
    box-shadow: none;
  }
  img {
    border: none;
  }
  a {
    text-decoration: none;
  }
  table, tr, td, ul, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
  }
  :focus {
    outline: none;
  }
  html {
    scroll-behavior: smooth;
  }